header{
    margin-top: 30px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center
}

nav{
    font-size: 16px;
    display: flex;
    margin-left: 80px;
}

nav a{
    font-family: 'Proxima Nova';
    font-weight: 500;
    margin-left: 20px;
}

header button{
    font-style: 15px;
    color: white;
    display: flex;
    align-items: center;
    background-color: #E58D35;
    width: 170px;
    height: 50px;
    margin-left: 100px;
    text-align: center;
}
button p{
    font-family: 'Proxima Nova';
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

